<div ng-controller="mapsBrowserCtrl">

    <div class="panel-heading"><b>Map Browser: {{mapId}}&nbsp;</b>
        <button style="float:right;" data-toggle="modal" data-target="#mapBrowseDialog" class="btn btn-default">
            <i class="icon-folder-open"></i> Map Browser
        </button>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Members</th>
                    <th>Entries</th>
                    <th>Backups</th>
                    <th>Entry Memory</th>
                    <th>Backup Memory</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in mapMemory">
                    <td>{{ x.HOST }}</td>
                    <td ng-init="mapMemory.total.ENTRIES = +mapMemory.total.ENTRIES + +x.ENTRIES">{{x.ENTRIES}}</td>
                    <td ng-init="mapMemory.total.BACKUPS = +mapMemory.total.BACKUPS + +x.BACKUPS">{{x.BACKUPS}}</td>
                    <td ng-init="mapMemory.total.ENTRY_MEMORY = +mapMemory.total.ENTRY_MEMORY + +((x.ENTRY_MEMORY/1024/1024)).toFixed(2)">{{((x.ENTRY_MEMORY/1024/1024)).toFixed(2)}} MB</td>
                    <td ng-init="mapMemory.total.BACKUP_MEMORY = +mapMemory.total.BACKUP_MEMORY + +((x.BACKUP_MEMORY/1024/1024)).toFixed(2)">{{((x.BACKUP_MEMORY/1024/1024)).toFixed(2)}} MB</td>
                </tr>
                <tr>
                    <td><b>TOTAL</b>
                    </td>
                    <td>{{mapMemory.total.ENTRIES}}</td>
                    <td>{{mapMemory.total.BACKUPS}}</td>
                    <td>{{mapMemory.total.ENTRY_MEMORY.toFixed(2)}} MB</td>
                    <td>{{mapMemory.total.BACKUP_MEMORY.toFixed(2)}} MB</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="mapBrowseDialog" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Map Browser</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <input class="form-control" type="text" ng-model="mapKey" placeholder="Key">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <select id="map_type" ng-model="mapType" class="form-control">
                                <option value="String">String</option>
                                <option value="Integer">Integer</option>
                                <option value="Long">Long</option>
                            </select>
                        </div>
                        <input type="button" class="btn btn-default" value="Browse" ng-click="value()" class="form-control">
                        <input type="button" value="Clear " class="btn btn-default" ng-click="clear()" class="form-control">
                        <span id="mapBrowseInfo" style="color:red;margin-left:10px">{{webout.Value == "No Value Found" ? webout.Value : "" }}</span>
                    </div>

                    <div class="row" style="margin-top:10px;">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-wrapper "><b>Value:&nbsp;</b>{{webout.Value == "No Value Found" ? "" : webout.Value }}</div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-wrapper"><b>Creation Time:&nbsp;</b>{{webout.Creation_Time}}</div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-wrapper">&nbsp;</div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-wrapper"><b>Expiration Time:&nbsp;</b>{{webout.Expiration_Time}}</div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-wrapper"><b>Last Updated Time:&nbsp;</b>{{webout.Last_Update_Time}}</div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-wrapper">&nbsp;</div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-wrapper"><b>Last Access Time:&nbsp;</b>{{webout.Last_Access_Time}}</div>
                    </div>

                    <div class="modal-footer">
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>